.formSection{
    max-width: 350px;
    padding: 12px;
    background-color: beige;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.lable{
  
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: rgb(235, 156, 77);
    
}
::placeholder{
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: rgb(241, 193, 144);
}

:hover::placeholder,
:focus::placeholder,
:active::placeholder{
    opacity: 0 ;
}

.input{
    width: 280px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: rgb(168, 106, 44);
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(235, 156, 77);
    border-radius: 5px;
     outline: none;
     transition: border .3s, transform .2s
}

.input:hover,
.input:focus{
    border: rgb(235, 156, 77);
}

.error {
    padding-left: 10px;
    font-size: 12px;

    line-height: 1;
    letter-spacing: 0.02em;
    color: rgb(219, 5, 5);
    margin-bottom: 12px;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    max-height: 33px;
    border: 1px solid palevioletred;
background-color: rgb(238, 204, 170);
color: white;
    padding: 12px ;
    
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color color border .3s, transform .2s;
}
