#root {
  max-width:375px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul, 
li{
  list-style: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: rgb(238, 204, 170);
  margin-bottom: 16px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
